<div ng-include="'components/navbar/navbar.html'"></div>

<div class="profile">
	
	<div class="col-md-6 col-md-offset-3">
		<span class="profile-cta">
			<h1>What are you grateful for today?</h1>
			<a href="#newPost" id="#openModal" class="btn">Add Post</a>
		</span> 
		<hr>
	</div>

	<div class="container">
		
		<div class="col-md-8 col-md-offset-2" ng-controller="ProfileCtrl">

			<div id="newPost">
				<div class="col-md-6 col-md-offset-3">
					<textarea name="text" placeholder="Enter Text Here" id="textarea" ng-model="body"></textarea>
					<hr>
					<a href="#" title="Close" class="btn">Close</a>
					<a href="#" class="btn submit" ng-click="addPost()">Submit</a>
				</div>
			</div>

			<div class="post" ng-repeat="post in posts.slice().reverse()">
				<h1 class="post-title">{{post.title}}</h1>
				
				<div class="post-body">
					{{post.body}}
				</div>
			</div>
		</div>
	</div>
</div>
