.profile {
	font-family: 'poly';
	line-height: 1.6;
	color: $black;
	
	hr {
		clear: both;
	}
}

.profile-cta {
	margin-bottom: 10px;
	h1 {
		font-size: 2.2em;
		display: inline;
  }
	.btn {
		@include button($green);
		margin-top: 6px;
		float: right;
		clear: both;
	}	
}
.post {
}

.post-title {
	line-height: 1.2;
	font-size: 2em;
}

.post-body {
	font-size: 18px;
	white-space: pre-line;
}

#newPost {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,0.95);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;

	.btn {
		@include button($grey);
		margin: 0px 10px 5px 10px;
		font-size: .8em;
	}

	.submit {
		float: right;
		clear: both;
		background-color: $green;
	}

	hr {
		margin-bottom: 10px;
		margin-top: 0px;
	}
	
	div {
		padding: 5px;
		margin-top: 10%;
		border-radius: 5px;
		background: #fff;
	}

	textarea {
		font-size: 18px;
		padding: 10px;
		border: none;
		height: 250px;
		width: 100%;
		resize: none;

		&:focus {
			outline: none;
		}
	}
	
	&:target {
		opacity:1;
		pointer-events: auto;
	}
}